*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color:#333;
    background-color: #f9f9f9;
    
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #grad{
    background-image: linear-gradient(to right,
     rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
  }
  
  main {
    flex: 1;
  }
  
  #grad{
    background-image: linear-gradient(to right,
     rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
  }
  

  

  
 .page-header{
  text-align: left;
  margin-bottom: 40px;
 }

 .page-title{
  font-size: 4rem;
  margin-top: 20px;
  margin-left: 2rem;
 }

 .section-link{
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: #0066cc;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;

 }

 .section-link:hover{
  border-color: #0066cc;
 }

 .ref-divider{
  border: none;
  height: 2px;
  background-color: #ccc;
  margin:40px auto;
  width:100%;
 }

 

 .section-heading {
  font-size: 3rem;
  color:#2c3e50;
  margin-bottom: 1rem;
  text-align: left;
}


 .about-section{
  padding: 0.5rem 0.5rem;
  margin: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem
  ;
 }




.about-section{
  padding: 1rem 2rem;
  
}

.about-content{
  display: flex;
  align-items: center;
  gap: 3rem;  
}

.about-content.reverse{
  flex-direction: row-reverse;
}

.about-content, .about-content.reserve p{
  font-size: 1.5rem;
  
  }

  .section-stat{
    text-align: center;
    font-size: 3rem;
  }

.page-stat{
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: #9c2521;
  transition: all 0.3s ease-in-out
}

.about-text{
  max-width: 60%;
  text-align: justify;
  font-size: 2rem;
}

.about-image{
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.about-image img{
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width:768px){
  .about-section {
    padding: 2rem 1rem;
  }

  .section-heading {
    font-size: 2rem;

  }

  .section-text {
    font-size: 1.4rem;
  }
}

 
 