body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin:0;
    padding: 0;
}

#grad
{
    background-image: linear-gradient(to right,
     rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
  }

  html, body {
  height: 100%;
  margin: 0;
}

/* Wrapper with flexbox layout */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content grows to fill space */
main {
  flex: 1;
}


.page-header 
{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.page-title {
    margin:0;
    font-size: 2.5rem;
}

.contact-info{
    padding: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align:center;
    font-size: 1.5rem;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;

    align-items: center;
}

.contact-details{
    flex:1;
    text-align: left;
    font-size:1.8rem;  
   
}

.contact-form{
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: left;
    
    
}

.contact-form input,
.contact-form textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-form button{
    padding: 0.8rem;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size:1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover{
    background-color: #1a252f;

}



  @media (max-width:768px){
    .contact-container{
        flex-direction: column;
        align-items: center;
    }

    .contact-details,
    .contact-form {
        width:100%
    }
  }