body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin:0;
    padding: 0;
}

#grad
{
    background-image: linear-gradient(to right,
     rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
  }

  html, body {
  height: 100%;
  margin: 0;
}

/* Wrapper with flexbox layout */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content grows to fill space */
main {
  flex: 1;
}


.page-header 
{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.page-title {
    margin:0;
    font-size: 2.5rem;
}

.contact-info{
    padding: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align:center;
    font-size: 1.5rem;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;

    align-items: center;
}

.contact-details{
    flex:1;
    text-align: left;
    font-size:1.8rem;  
   
}

.donation-info{
    text-align: center;
    padding: 50px 20px;
}

.donation-info h2
{
    font-size: 2rem;
    margin-bottom: 10px;

}

.qr-box{
    margin: 20px;
    width: 250px;
    height: 250px;
}

.qr-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.qr-note{
    margin-top: 10px;
    font-size: 0.9 rem;
    color: #555;
}