body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin:0;
    padding: 0;
}

#grad
{
    background-image: linear-gradient(to right,
     rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
  }

  .navbar
  {
    /* background-color: rgba(44, 62, 80, 0.5); dark blue-grey */
    background-image: linear-gradient(to left,
     rgba(40, 188, 225, 0.3 ), rgba(32, 110, 188, 0.8));
    padding: 1.5rem 5vw;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* moves nav to the right */
    gap: 2rem;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .nav-list li {
    display: inline; /* ensures list items don’t act like blocks */
  }
  .nav-list li a {
    /*color: rgb(181, 194, 199);*/
    color: #fff;
    /*text-decoration: none;*/
    font-size: 1.1 rem;
    /*font-weight: 900;*/
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .nav-list li a:hover {
    color: rgb(15, 66, 79); /* accent color on hover */
  }
  
  nav {
    /*background-color: rgba(40, 188, 225, 0.3);*/
      color: #484141;
      text-align: left;
      padding: 10px 5vw;
      font-size: 1rem;
      margin-top: 20px;  
    
      h1{
          padding: 50px 0;
      }
  }

.page-header 
{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.page-title {
    margin:0;
    font-size: 2.5rem;
}

.contact-info{
    padding: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align:center;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}

.contact-details{
    flex:1;
    text-align: left;
    font-size:1.2rem
}

.contact-form{
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-form button{
    padding: 0.8rem;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size:1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover{
    background-color: #1a252f;

}

.site-footer{
    background-image: linear-gradient(to left,
   rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
    color: white;
    text-align: left;
    padding: 1.5rem 5vw;
    font-size: 1rem;
    margin-top: 4rem;
  }

  @media (max-width:768px){
    .contact-container{
        flex-direction: column;
        align-items: center;
    }

    .contact-details,
    .contact-form {
        width:100%
    }
  }