*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color:#333;
    background-color: #f9f9f9;
    
  }
  
  #grad{
    background-image: linear-gradient(to right,
     rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
  }
  
  
.page-header {
    text-align: center;
    padding: 2rem;

}

.page-title{
    font-size: 3rem;
    margin: 0;
}

.goal-section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.goal-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.goal-content.reverse{
    flex-direction: row-reverse;
}

.goal-img{
    width: 40%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.goal-text{
    flex: 1;
    text-align: justify;
}

.goal-text h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.goal-text p{
    font-size: 1.8rem;
    line-height: 1.6;
}

.site-footer{
    background-image: linear-gradient(to left,
   rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
    color: white;
    text-align: left;
    padding: 1.5rem 5vw;
    font-size: 1rem;
    margin-top: 4rem;
  }

  @media(max-width:768px){
    .goal-box,
    .goal-box.reverse{
        flex-direction: column;
        text-align: center;
    }

    .goal-img{
        width: 100%;
    }

    .goal-text{
        text-align: justify;
    }
  }