*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color:#333;
  background-color: #f9f9f9;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#grad{
  background-image: linear-gradient(to right,
   rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
}

main {
  flex: 1;
}


.site-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5vw;
  /*width: 100%;*/
  
  
  background-color: #e6f7fa;
  /*border-bottom: 1px solid #ccc;*/
}

.site-title{
  font-size: 5rem;
  line-height: 1.2;
  color:#2c3e50;
}

.site-slogan
{
  font-size: 2rem;
  color: #4d4d4d;
  margin-top: 0.3rem;
}

.site-header img {
  
  max-width: 100%;
  height: auto;
  width: 1000px;
  object-fit: contain;
  /*display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 10vw;*/
}

   
  img {
    align-items: center;
    height: auto;
    display: block;
    object-fit: contain;
  }

  
  .sections-container {
    display: flex;
    
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem 5vw;
    
    
  }

  section {
    /*flex: 1 2 250px;*/
    flex-shrink: 0;
    background-color:rgba(240, 240, 240, 1) ;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*background-image:linear-gradient(to left,rgba(240, 240, 240, 1),
    rgba(51, 151, 176, 1)) ;*/
    padding: 1.5rem;
    width: 300px;
    border-radius: 12px;
    min-height: 300px;
    white-space: normal;
    box-sizing: border-box;
    
    transition: transform 0.2s ease;
  
    img {
      max-width:100% ;
      height: 250px;
      width: 300px;
      display: block;
      object-fit: cover;
      margin-bottom: 1rem;
      margin-top: 1rem;
      border-radius: 8px;
    }
  }

  section:hover {
    transform: translateY(-5px);
  }

 
  @media (max-width: 768px) {
    .site-header{
      flex-direction: column;
      text-align: center;

    }

    .site-header img{
      margin-top: 1rem;

    }

    .sections-container {
      flex-direction: column;
      align-items: center;
    }

    .nav-list {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .section-link {
   display: inline-block;
   margin-top: 1rem;
   background-color: #28bce1;
   padding: 0.5rem 1rem;
   color: white;
   
   border-radius: 5px;
   text-decoration: none;
   font-weight: bold;
  }

  
  section a.section-link:hover{
    text-decoration: underline;
  }
  

  




  