*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color:#333;
    background-color: #f9f9f9;
    
  }
  
  #grad{
    background-image: linear-gradient(to right,
     rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
  }
  
 html, body {
  height: 100%;
  margin: 0;
}

/* Wrapper with flexbox layout */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content grows to fill space */
main {
  flex: 1;
}

.page-header{
  text-align: left;
  margin-bottom: 40px;
 }

.page-title{
  font-size: 4rem;
  margin-top: 20px;
  margin-left: 2rem;
 }



 .initiatives-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    padding: 2rem;
    padding-top: 5rem;
    
 }

 .initiatives-card {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 2rem;
    width: 500px;
   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    align-items: center;
  
 }

 .initiatives-card:hover{
    transform: translate(-5px);
 }

 .initiatives-card img {
    max-width: 100%;
    border-radius: 8px;
    height: 350px;
    object-fit: cover;
    
 }

 .initiative-title{
   font-size: 2rem;
   padding-top: 1rem;
 }

 .initiative-description {
    font-size: 1.8rem;
    text-align: justify;
    padding-top: 1rem;
 }

 .initiatives-card::after {
  content: "";
  display: block;
  height: 4px;
  width: 40%;
  margin: 1rem auto 0;
  background: #28bce1;
  border-radius: 10px;
}

 

  @media(max-width:768px){
     .initiatives-container {
    padding: 2rem 1.5rem;
    gap: 2rem;
  }

  .initiatives-card {
    padding: 1.5rem;
  }

  .initiatives-card img {
    height: 200px;
  }

  .initiative-title {
    font-size: 1.6rem;
  }

  .initiative-description {
    font-size: 1.25rem;
    text-align: left;
  }
}