*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color:#333;
    background-color: #f9f9f9;
    
  }
  
  #grad{
    background-image: linear-gradient(to right,
     rgba(40, 188, 225, 0.6), rgba(51, 151, 176, 1));
  }
  
 
  

  
 .page-header{
  text-align: left;
  margin-bottom: 40px;
 }

 .page-title{
  font-size: 4rem;
  margin-top: 20px;
  margin-left: 2rem;
 }

 .initiatives-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    padding: 2rem;
    padding-bottom: 13.5rem;
 }

 .initiatives-card {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 2rem;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  
 }

 .initiatives-card:hover{
    transform: translate(-5px);
 }

 .initiatives-card img {
    max-width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
 }

 .initiatives-title{
    font-size: 2rem;
    margin:1rem 0 0.5rem;
 }

 .initiative-description {
    font-size: 1.1rem;
    text-align: justify;
 }

 

  @media(max-width:768px){
    .initiatives-container{
        flex-direction: column;
        align-items: center;
    }
  }